<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="utf-8">

  <title>Access denied</title>

  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/resources/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="/resources/css/style.css" rel="stylesheet">
  <link href="/resources/css/style-responsive.css" rel="stylesheet" />

</head>

<body>
  <div class="page-404">
    <p class="text-404">403</p>
    <p style="color: red; font-style: oblique; font-size: 15px">You do not have permission to access this page!<br><a href="/">Return Home</a></p>
  </div>

</body>

</html>
