     <div xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     	id="viewFormEditBook" class="modal text-center" sec:authorize="hasAnyRole('ROLE_ADMIN')">
           <form class="modal-content animate" id="formEditBook"  name="formEditBook">
           <div class="">
						<button type="button" class="close" onclick="document.getElementById('viewFormEditBook').style.display='none'" >&times;</button>
			</div> 
           <br><h3>EDIT BOOK</h3><br>
        <table style=" width:100%"  class="">
         <tr>
          <td><input type="hidden" id="idBookEdit" name="idBookEdit" autocomplete="off"></td>
          <td><br></td>
         </tr>
         <tr>
          <td><input type="hidden" id="idUserBookEdit" name="idUserBookEdit" autocomplete="off"></td>
          <td><br></td>
         </tr>
        <tr>
          <td><label ><b>Title<span style="color: red">(*)</span></b></label></td>
          <td><input autofocus type="text" name="titleEdit" id="titleEdit" class="form-control" autocomplete="off"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>Author<span style="color: red">(*)</span></b></label></td>
          <td><input type="text" name="authorEdit" id="authorEdit" class="form-control" autocomplete="off"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>Description</b></label></td>
          <td>
          	<textarea style="margin: 0px; height: 200px;" name="descriptionEdit" cols="30" id="descriptionEdit" class="form-control"></textarea>
          </td>    
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td></td>
          <td>
            <input type="submit" value="UPDATE" class="btn btn-primary">
            <input type="reset" value="CANCEL" class="btn btn-danger"
              onclick="document.getElementById('viewFormEditBook').style.display='none'">
          </td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
        </table>
       </form>
    </div>