<div xmlns:th="http://www.thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')"
	id="viewFormChangePasswordUserLogin" class="modal text-center">
           <form class="modal-content animate" id="formChangePasswordUserLogin" method="get" name="formChangePasswordUserLogin">
           <div class="">
						<button type="button" class="close" onclick="document.getElementById('viewFormChangePasswordUserLogin').style.display='none'" >&times;</button>
			</div> 
           <br><h3 style="text-align:  center;">CHANGE PASSWORD</h3><br>
        <table style=" width:100%"  class="">
        <tr id="error" class ="error">
        	<td></td>
        	<td></td>
        </tr>
        <tr>
          <td><br></td>
          <td><br></td>
         </tr>
        <tr>
          <td><label ><b>Old Password<span style="color: red">(*)</span></b></label></td>
          <td><input autofocus type="password" name="oldPassword" id="oldPassword" class="form-control" autocomplete="off"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td><label><b>New Password<span style="color: red">(*)</span></b></label></td>
          <td><input type="password" name="newPassword" id="newPassword" class="form-control" autocomplete="off"></td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
           <td><label><b>Confirm Password<span style="color: red">(*)</span></b></label></td>
          <td><input type="password" name="rePassword" class="form-control" autocomplete="off"></td>    
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
         <tr>
          <td></td>
          <td>
            <input type="submit" value="UPDATE" class="btn btn-primary">
            <input type="reset" value="CANCEL" class="btn btn-danger"
              onclick="document.getElementById('viewFormChangePasswordUserLogin').style.display='none'">
          </td>
         </tr>
          <tr>
          <td><br></td>
          <td><br></td>
         </tr>
        </table>
       </form>
    </div>